.custom-foot5 {
  background-color: #2b3c58;
  padding: 30px;
  font-family: Arial, sans-serif;
  position: relative;
}

.footer-row5 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-left5 {
  flex: 1 1 40%;
  min-width: 250px;
}

.footer-title5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #eaecf0;
}

.footer-col5 {
  display: flex;
  gap: 60px;
  flex: 1 1 60%;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-column5 {
  min-width: 100px;
}

.footer-column5 h4 {
  margin-bottom: 8px;
  font-size: 16px;
  color: #98a2b3;
}

.footer-column5 p {
  margin: 20px 0;
  color: #eaecf0;
}

.footer-row5,
.footer-col5 {
  margin-bottom: 20px;
}

/* NEW bottom bar styling */
.footer-bott5 {
  background-color: #2b3c58;
  color: #fff;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-icon a {
  color: white;
  margin-right: 40px;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icon a:hover {
  color: #00acee; /* Twitter blue on hover */
}
