.login-page-container {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;    
}
.login-page-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../assets/pics4.png'); 
  background-size: cover;
  background-position: center;
  filter: blur(15px);
  z-index: -1;
}
.login-inner-wrapper {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  background: #2b3c58;
}
.logo-centered {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
  display: block;
  margin-left: 120px;
  margin-right: auto;
}
.email-holder{
  width: 100%;
}
.login-btn {
  background-color: #023D6D;
  color: #ccc;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  transition: background 0.3s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.login-title {
  text-align: center;
  margin-bottom: 20px;
  color: #ccc ;
}
.login-form {
  display: flex;
  flex-direction: column;
  color: #ccc;
}
.login-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}
.login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.login-btn {
  background-color: #023D6D;
  color: white;
  padding: 12px;
  width: 150%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  transition: background 0.3s ease;
}
.login-btn:hover {
  background-color: #021f3e;
}
.signup-link {
  margin-top: 15px;
  text-align: center;
  color: white;
}
.signup-link span {
  color: #ccc;
  cursor: pointer;
  font-weight: bold;
}
