.login-container-login {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  padding: 20px;
}

.login-container-login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../assets/pics4.png");
  background-size: cover;
  background-position: center;
  filter: blur(25px);
  z-index: -1;
}

.logo-wrapper-login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
  margin-bottom: 20px; /* spacing below the logo */
  margin-left: 0;
   /* remove this if it was set earlier */
}


.outside-logo {
  width: 90px;
  height: auto;
}

.login-card-login {
  background: #023D6D;
  backdrop-filter: blur(10px);
  padding: 25px 25px 40px;
  width: 100%;
  max-width: 320px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.left-text {
  color: #fff;
  font-size: 0.85rem;
}
.left-text span{
  font-weight: bold;
}

.right-text {
  color: #fff;
  font-size: 0.75rem;
}

.login-title-login {
  color: #fff;
  margin: 10 20px;
  font-size: 22px;
  /* text-align: center; */
}

.login-header-login {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: 600;
}

label {
  display: block;
  margin-top: 12px;
  margin-bottom: 4px;
  font-size: 12px;
  color: #fff;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-footer-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  position: relative;
}

.forgot-password {
  position: absolute;
  right: 0;
  top: -20px;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
}

.signup-btn {
  background-color: #e30613;
  color: white;
  border: none;
  width: 100%;
  padding: 10px 0;
  margin-top: 30px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}
