.sign-page-container {
  position: relative; 
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
  z-index: 1;
}
.sign-page-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../assets/pics4.png");  
  background-size: cover;
  background-position: center;
  filter: blur(25px);
  z-index: -1;
}
.sign-inner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-centered {
  width: 90px;
  height: auto;
  margin-bottom: 20px;
  display: block;
  margin-right: 1350px;
}
.sign-card {
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #2b3c58;
}
.sign-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.left-text,
.right-text {
  font-weight: bold;
}
.signin-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ccc;
}
label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #ccc;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.email{
  width: 80%;
  border-radius: 6px;
}
.dob-row {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}
.sign-footer {
  text-align: center;
}
.signup-btn {
  background-color: #e30613;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}
.signup-btn:hover {
  background-color: #022f57;
}
